﻿@using System.Web.Mvc.Html
@model VendingMachineKata.Models.VendingMachineViewModel

<form id="myForm">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(x => x.Size)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => x.Size, new { @type = "number" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(x => x.Weight)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => x.Weight, new { @type = "number" })
                </div>
            </div>
            <div class="row col-md-4">
                <button id="addCoin">Insert Coin</button>
            </div>
        </div>
        <div class="col-md-4">
            <button id="validate">Select Product</button>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(x => x.Amount)
            @Html.HiddenFor(x => x.Amount)
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#addCoin").click(function () {
        var form = $("#myForm");
        form.attr("action", "@Url.Action("AddCoin", "HomeController")");
        form.submit();
    });

    $("#validate").click(function () {
        var form = $("#myForm");
        form.attr("action", "@Url.Action("AddCoin", "HomeController")");
        form.submit();
    });
</script>
